@media(max-width:575px) {
    .banner-img{
        display: none;
    }
    .banner-img-computer{
        display: block !important;
        margin: auto;
        width: 75%;
        margin-top: 12px;
    }
    .navbar-nav .nav-item .nav-link{
        
    }
    .item{
        border: 1px solid #000 !important;
    background: rebeccapurple;
    justify-content: unset !important;
    width: 147px;
    margin-left: 104px;
    margin-bottom: 20px;
    }
    .navbar-light .navbar-toggler{
        border: 1px solid green;
    }
    .toggler-icon{
        color:#fff;
    }
    .navbar-brand{
        width: 73%;
    }
    .navbar-nav{
        border: 1px solid green;
        
        background: green;
        border-radius: 0 20px 0 20px;
    }
    .nav-item{
        text-align: center;
    }
    .banner h2{
        text-align: center;
    font-size: 35px !important;
    margin-top: -47px;
    }
    .banner h1{
        text-align: center;
        font-size: 35px !important;
    }
    .banner h6{
        text-align: center;
    }
    .btn-download{
        padding: 4px 5px !important;
        margin-left: 93px;
        margin-bottom: 20px;
    }
    .live-text h2{
        text-align: center !important;
    font-size: 35px !important;
    margin-top: -165px;
    }
    .live-text h1{
        text-align: center !important;
    font-size: 35px !important;
    }
    .live-text p{
        margin-bottom: 30px;
    }
    .live-img{
        margin-top: 60px
    }
    .topic-img{
        margin-top: 30px;
    }
    .btn-luck{
        padding: 4px 5px !important;
        margin-left: 100px !important;
        margin-bottom: 20px;
    }
    .our-text h1{
        margin-top: -31px;
    }
    .menu-item{
        margin-left: 28px;
    }
    .menu-bar{
        margin-bottom: 55px;
    }
    .serve-text{
        margin-top: -97px;
    }
    
    .our-text h1{
        margin-top: 20px;
    }
    .readmore h2{
        font-size: 23px !important;
    }
    footer h1{
        font-size: 35px !important;
    text-align: center;
    }
    footer h2{
        text-align: center;
    }
    footer h4{
        text-align: center;

    }
    .footer_bottom_img{
        
    width: 68% !important;
    }
    .foot_num{
        padding: 1px 51px !important;
    border: 1px solid #000 !important;
    }
    .foot_num h2{
        font-size: 15px !important;
    color: #000 !important;
    }
    .foot_icon i{
        color: #000 !important;
    }
}
                                                                                                                           xxxxxxxxxxcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc                                                                                                              vbnm,,,.zaqdswejhhhgggffoiiiiuytttrrrrrrrrreeee44444444556o XWQQJ                                                                                                                                                                                                                    